body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.navbar {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #D3D3D3;
  padding: 15px;
}
.navbar .logo {
  margin-right: 20px;
}
.navbar .item {
  padding: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.card {
  background-color: white;
  border: 1px solid #D3D3D3;
  width: 250px;
  padding: 1rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.card h3 {
  margin: 0;
}
.card p {
  color: #696969;
  margin-bottom: 30px;
}

.button {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  color: black;
  transition: all 0.2s;
}

.button:hover {
  border: 1px solid black;
}
